* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body {
  background-image: url("../img/netflixpage/background.png ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  height: 100%;
}


.container {
  display: flex;
  /* padding: 40px; */
  position: relative;
  justify-content: space-between;
  /* padding-top: 54px;
  padding-left: 62px; */
  align-items: center;
  padding: 54px 60px 0;
}
.netflix {
  align-items: center;
  display: flex;
  gap: 40px;
}

.line {
  position: relative;
  /* top: -30px; */
  display: flex;
  justify-content: center;
  padding: 0 0 0 20px;
}

.date {
  position: relative;
  /* top: 14px; */
}
.date img {
  width: 90%;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 44px;
}
.ava {
  position: relative;
  /* top: -30px;
  right: 20px; */
}
.search-butt {
  background-color: transparent;
  border: none;
  outline: none;
  transition-duration: 0.5s;
  cursor: pointer;
}
.main {
  position: relative;
}
section {
  /* padding: 98px 0 0 40px; */
  width: 100%;
  padding: 74px 60px 0;
}
.genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
  /* margin-top: -34px; */
  position: relative;
  /* left: 19px; */
}
.lines {
  display: flex;
  /* padding: 0 10px 0 10px; */
  position: relative;
  /* top: -22px; */
  margin: 20px;
}
.genres a {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  /* margin-top: -50px; */
}
.title {
  margin-bottom: 18px;
  position: relative;
}
.title h1 {
  color: #fff;
  font-size: 68px;
  line-height: 76px;
  letter-spacing: 0.055em;
  text-align: left;
  position: relative;
}
.text-info {
  display: flex;
  align-items: center;
  position: relative;
  /* top: -200px; */
  /* padding-left: 20px; */
  margin-bottom: 18px;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  gap: 50px;
}

.author {
  position: relative;
  /* left: 10px;
  top: 2px; */
}
.season {
  position: relative;
  /* left: 50px; */
}
.episode {
  position: relative;
  /* left: 60px;
  top: 3px; */
}
.author {
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  color: gray;
}
.episode {
  font-size: 29px;
  font-weight: 400;
  line-height: 35px;
  color: gray;
}
.about {
  display: flex;
  justify-content: flex-start;
  position: relative;
  /* margin-top: -14%; */
  /* padding-left: 20px; */
  margin-bottom: 20px;
}
.about p {
  width: 49%;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: #a7a6a6;
}
.star-rating {
  display: inline-flex;
  direction: rtl;
  /* padding-left: 20px; */
  /* top: -24px; */
  position: relative;
  margin-bottom: 40px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 3rem;
  color: gray;
  line-height: 40px;
  /* колір неактивних */

  cursor: pointer;
}

.star-rating input:checked ~ label {
  color: #ffca08; /* колір активної зірки */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffca08; /* колір при наведенні */
}

.play {
  display: flex;
  cursor: pointer;
  gap: 90px;
  margin-bottom: 54px;
}
.playnow p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 30;
  text-align: left;
  margin-left: 34px;
}
.playnow {
  width: 272px;
  height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: rgb(213, 13, 31);
  cursor: pointer;
  border: none;
  gap: 10px;
}

.episodes {
  width: 270px;
  height: 64px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.episodes p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
footer {
  width: 100%;
}
.type2{
  padding-top: 0;
  position: relative;
  width: 100%;
  max-width: 944px;
  padding-bottom: 50px;
}
.infowork {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-title {
  font-family: Inter;
  font-size: 22px;
  font-weight: 800;
  line-height: 31.79px;
  letter-spacing: 0.135em;
  color: #ffffff;
}
.films {
  gap: 50px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 100%;
}
.films-img{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 169%;
}
.films-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.strelku {
  position: relative;
  display: flex;
  gap: 25px;
}
.leftarrow {
  color: rgb(154, 154, 154);
  background-color: transparent;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 1.42px solid rgba(167, 166, 166, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftarrow:hover {
  background-color: white;
}
.rightarrow {
  border: 1.54px solid rgba(255, 255, 255, 1);
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightarrow:hover {
  background-color: red;
}
.leftarrow img {
  position: relative;
  width: 10px;
  margin-left: -1px;
}
.rightarrow img {
  position: relative;
  width: 10px;
  margin-left: 2px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 66px;
  background-color: rgba(255, 255, 255, 0.49);
  position: fixed;
  right: 0;
  bottom: 102px;
  padding-left: 30px;
}

.block::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: red;
  left: 0;
}

.age {
  font-family: Inter;
  font-weight: 500;
  line-height: 34px;
  color: #fff;
  font-size: 24px;
  
  
}
